[Unit]
Description=IKEv2 vpn with ipsec
After=syslog.target
AssertPathExists=/usr/local/etc/ipsec.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/ipsec start
ExecReload=/usr/local/sbin/ipsec reload
ExecStop=/usr/local/sbin/ipsec stop
Environment=BOOTUP=serial
Environment=CONSOLETYPE=serial
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
